.notifications-provider {
  position: fixed;
  z-index: 9999;
  max-width: 50vw;
  max-height: 100vh;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.notifications-provider.top-right {
  top: 0;
  right: 0;
}

.notifications-provider.top-left {
  top: 0;
  left: 0;
}

.notifications-provider.bottom-right {
  bottom: 0;
  right: 0;
}

.notifications-provider.bottom-left {
  bottom: 0;
  left: 0;
}

.notifications-provider.top-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.notifications-provider.bottom-center {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
